In [5]:

import numpy as np
import pandas as pd
from scipy import stats

In [2]:
dataset=pd.read_excel('Designs.xlsx')

In [3]:
print(dataset)

   Store  Con1  Con2
0      1   141   118
1      2   184   167
2      3   132   137
3      4   161   168
4      5   176   175
5      6   196   197
6      7   169   143
7      8   199   169
8      9   150   123
9     10   218   197

In [6]:
print(stats.describe(dataset[['Con1','Con2']]))

DescribeResult(nobs=10, minmax=(array([132, 118], dtype=int64), array([218, 197], dtype=int64)), mean=array([172.6, 159.4]), variance=array([750.26666667, 789.37777778]), skewness=array([ 0.0836727 , -0.12022481]), kurtosis=array([-1.01637009, -1.19877377]))

In [7]:
#to include all number and string containing column
dataset.describe(include ='all')

          Store        Con1        Con2
count  10.00000   10.000000   10.000000
mean    5.50000  172.600000  159.400000
std     3.02765   27.390996   28.095868
min     1.00000  132.000000  118.000000
25%     3.25000  152.750000  138.500000
50%     5.50000  172.500000  167.500000
75%     7.75000  193.000000  173.500000
max    10.00000  218.000000  197.000000

In [8]:
'''ddof delta degree of freedom, a parameter set to one
so it wont differ'''
np.var(dataset[['Con1','Con2']], ddof=1)

Con1    750.266667
Con2    789.377778
dtype: float64

In [10]:
#best way to do std dev
dataset[['Con1','Con2']].std()

Con1    27.390996
Con2    28.095868
dtype: float64

In [12]:
#just extra (to calculate mode)
stats.mode(dataset[['Con1','Con2']])

ModeResult(mode=array([[132, 197]], dtype=int64), count=array([[1, 2]]))